.circle-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.circle:hover .tooltiptext {
  visibility: visible;
  left: 20%;
}

.circle:nth-child(1) {
  transform: rotate(0deg) translate(60px) rotate(0deg);
}

.circle:nth-child(2) {
  transform: rotate(36deg) translate(60px) rotate(-36deg);
}

.circle:nth-child(3) {
  transform: rotate(72deg) translate(60px) rotate(-72deg);
}

.circle:nth-child(4) {
  transform: rotate(108deg) translate(60px) rotate(-108deg);
}

.circle:nth-child(5) {
  transform: rotate(144deg) translate(60px) rotate(-144deg);
}
.circle:nth-child(6) {
  transform: rotate(180deg) translate(60px) rotate(-180deg);
}
.circle:nth-child(7) {
  transform: rotate(216deg) translate(60px) rotate(-216deg);
}
.circle:nth-child(8) {
  transform: rotate(252deg) translate(60px) rotate(-252deg);
}
.circle:nth-child(9) {
  transform: rotate(288deg) translate(60px) rotate(-288deg);
}

.circle:nth-child(10) {
  transform: rotate(324deg) translate(60px) rotate(-360deg);
}
